*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0; 
}

img{
    display: block;
    width: 100%;
    max-height: 100%; 
}

.container{
    width: 100%;
    margin: auto; 
}

.flexbox{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}