@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kri3g1');
  src:  url('fonts/icomoon.eot?kri3g1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kri3g1') format('truetype'),
    url('fonts/icomoon.woff?kri3g1') format('woff'),
    url('fonts/icomoon.svg?kri3g1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon-o:before {
  content: "\f186";
}
.icon-steam-square:before {
  content: "\f1b7";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-plug:before {
  content: "\f1e6";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-home:before {
  content: "\e900";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-sun:before {
  content: "\e9d4";
}
