.nav{
    position: fixed;
    left: -105px;
    top: 32px;
    list-style: none;
    width: 144px;
    margin-left: -42px;
    cursor: pointer;
    z-index: 3004;
    transition: all 0.2s ease-in-out;
}

.menu-link{
    color: rgb(73, 78, 82);
    text-decoration: none;
    padding: 1px;
    font-size: 1em;
    font-weight: 400;
 
    
}

.menu-link:hover{
    background: rgb(196, 196, 197);
}

.main{
    background: white;
    list-style: none;
    border: 1.5px solid rgb(219, 219, 219);
}

.activador-menu{
    margin-top: 40px;
    margin-left: 1px;
    height: 450px;
    width: 100px;
    position: fixed;
    z-index: 200;
    
}

.opciones{
    text-align: center;
    margin-top: 12px;
}

.icon-home{
    margin-top: 10px;
}

.icon-catalogo{
    color: rgb(124, 123, 123);
    font-size: 3em;
    margin-left: 21px;
}

.icon-homee{
    color: rgb(124, 123, 123);
    margin-left: 25px;
    font-size: 3em;
}

.icon-contacto, .icon-chucherias{
    color: rgb(124, 123, 123);
    margin-top: 17px;
    font-size: 3em;
}

.icon-chucherias{
    margin-bottom: -5px;
    margin-left: 28px;
}

.icon-contacto{
    margin-left: 20px;

}

.icon{
    color: rgb(124, 123, 123);
    font-size: 3em;
    position: fixed;
    top: 55px;
    left :25px;
}



/* mobile vertical----------------------------------*/
 
@media screen   
  and (min-device-width: 260px)   
  and (max-device-width: 360px) 
{
    .icon{
        font-size: 2em;
        top: 5px;
    }

    .icon-contacto, .icon-chucherias, .icon-catalogo, .icon-home{
        font-size: 2em;
    }     

    .icon-contacto{
        margin-left: 19px;
    
    }

    .icon-chucherias{
        margin-left: 24px;
    }

    .icon-home{
        margin-left: 21px;
    }
    
    .icon-catalogo{
        margin-left: 19px;
    }

    .opciones{
        font-size: 14px;
    }

    .nav{
        width: 120px;
    }

}

@media screen   
  and (min-device-width: 260px)   
  and (max-device-width: 360px)  
{

    .icon{
        left: 10px;
    }
}








@media screen   
  and (min-device-width: 500px)   
  and (max-device-width: 660px) 
{
    .icon{
        font-size: 27px;
        top: 5px;
    }

    .icon-contacto, .icon-chucherias, .icon-catalogo, .icon-home{
        font-size: 1.2em;
    }     

    .icon-contacto{
        margin-left: 19px;
    
    }

    .icon-chucherias{
        margin-left: 22px;
    }

    .icon-home{
        margin-left: 21px;
    }
    
    .icon-catalogo{
        margin-left: 19px;
    }

    .opciones{
        font-size: 11px;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .nav{
        z-index: 3333333;
        width: 103px;
        top:22px;
    }

}

@media screen   
  and (min-device-width: 260px)   
  and (max-device-width: 660px)  
{

    .icon{
        left: 10px;
    }
}
