@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mw0ft6');
  src:  url('fonts/icomoon.eot?mw0ft6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mw0ft6') format('truetype'),
    url('fonts/icomoon.woff?mw0ft6') format('woff'),
    url('fonts/icomoon.svg?mw0ft6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
  content: "\ea1c";
}
