.div-para-activar-interfaz{
    position: fixed; 
    bottom: 0;
    width: 100%;
    height: 140px;
    margin-top: 30px;
    z-index: 250;
}

.fondo-interfaz{
    height: 140px;
}
.interfaz{
    position: fixed;
    bottom: -140px;
    
    width: 100%;
    margin-top: 4430px;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(179,179,179);
    -moz-box-shadow: 0px -2px 5px 0px rgba(179,179,179);
    box-shadow: 0px -2px 5px 0px rgb(85, 85, 85);
    transition: all 0.4s ease-in-out;
    z-index: 8000;

}

.container-opcions{
    margin-left:110px;
    margin-right: 110px;

}

.container-selects{
    margin-left: 110px;
    margin-right: 110px;

}

.positionSelect1{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.positionSelect2{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.positionSelect3{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.positionOpcions1{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.positionOpcions2{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.positionOpcions3{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*Mobil horizontal*/

@media screen   
  and (min-device-width: 260px)   
  and (max-device-width: 360px)
{
    .positionOpcions1{
        margin-bottom: -43px;
    }

    .positionOpcions2{
        margin-bottom: -52px;
    }
}

@media screen   
  and (min-device-width: 260px)   
  and (max-device-width: 300px)
{
    .container-opcions, .container-selects{
        margin-left: 4px;
        margin-right: 5px;
        
    }
}

@media screen   
  and (min-device-width: 300px)   
  and (max-device-width: 360px)
{
    .container-opcions, .container-selects{
        margin-left: 12px;
        margin-right: 13px;
        
    }
}






  @media screen   
  and (min-device-height: 260px)   
  and (max-device-height: 366px)
  {
   .fondo-interfaz, .interfaz, .div-para-activar-interfaz {
        height: 66px;    
   }

   .positionOpcions3{
    margin-bottom: -46px;
}

   .positionOpcions1{
    margin-bottom: -92px;
}

.positionOpcions2{
    margin-bottom: -102px;
}
   
  }

  @media screen   
  and (min-device-width: 500px)   
  and (max-device-width: 660px)
  {
    .container-opcions, .container-selects{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 15px;
    }

  }