.contenedor-categoriasNone{
    display: block;        
    background: white;
    border-radius: 0.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 202px;
    font-size: 1.2em;
    color:  rgb(124, 123, 123);
    border: 1.9px solid rgb(212, 212, 212);  
    cursor: pointer;
    margin-top: -381px;
    z-index: 2000;
    transform: translateY(320px);
    opacity: 0;
    transition: all 0.3s ease-out;
    animation: classEfectt 0.7s;
}

.contenedor-categorias{
    display: block;        
    background: white;
    border-radius: 0.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 202px;
    font-size: 1.2em;
    color:  rgb(124, 123, 123);
    border: 1.9px solid rgb(212, 212, 212);  
    cursor: pointer;
    margin-top: -381px;
    z-index: 2000;
    transform: translateY(60px);
    opacity: 0;
    transition: all 0.3s ease-out;
    animation: classEfectt 0.7s;
}

@keyframes classEfectt{
    0%{
        opacity: 1;
        transform: translateY(-3.5px);
        
    }
    100%{
        opacity: 0;           
        transform: translateY(60px);
    }
}
    


.contenedor-categoriass{
    display: block;    
    background: white;
    border-radius: 0.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 202px;
    font-size: 1.2em;
    color:  rgb(124, 123, 123);
    border: 1.9px solid rgb(212, 212, 212);  
    cursor: pointer;
    margin-top: -381px;
    z-index: 2000;
    transform: translateY(-3.5px);
    opacity: 1;
    transition: all 0.3s ease-out;
    animation: classEfect 0.7s;
}

@keyframes classEfect{
    0%{
         opacity: 0;           
         transform: translateY(60px);
        
    }
    100%{
        opacity: 1;
        transform: translateY(-3.5px);
        
    }
}
    

.categorias{
    margin-left: 4px;
}

.categorias:hover{
    margin-left: 1px;
    background:  rgb(193, 196, 64);
    color: white;
}



/* mobile vertical----------------------------------*/
 
@media screen   
and (min-device-width: 260px)   
and (max-device-width: 360px)
{
    .contenedor-categorias, .contenedor-categoriasNone, .contenedor-categoriass{
        width: 82px;
        font-size: 15px;
    }
}

@media screen   
and (min-device-width: 310px)   
and (max-device-width: 340px)
{
    .contenedor-categorias, .contenedor-categoriasNone, .contenedor-categoriass{
        width: 90px;
    }
}

@media screen   
and (min-device-width: 340px)   
and (max-device-width: 360px)
{
    .contenedor-categorias, .contenedor-categoriasNone, .contenedor-categoriass{
        width: 98px;
    }
}







@media screen   
and (min-device-width: 500px)   
and (max-device-width: 660px)
{
    .contenedor-categorias, .contenedor-categoriasNone, .contenedor-categoriass{
        width: 105px;
        font-size: 14px;
    }
}