.desaparecer{
    display: block;
}
.tamaño{
    font-size: 2em;
}

.select{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color:  rgb(124, 123, 123);
    border: 1.9px solid rgb(212, 212, 212);
    height: 37px;
    width: 202px;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 20px;
    font-weight: 900;  
    margin-top: -120px;
    cursor: pointer;
    z-index: 22222;
    
}

.selector{
    margin-left: 9px;
}

.simbolo{
    margin-right: 9px;
    transform: rotate(90deg);
    transition: all 0.2s ease-in;
}

/* mobile vertical----------------------------------*/
 
@media screen   
and (min-device-width: 260px)   
and (max-device-width: 360px)
{
    .select{
        height: 30px;
        width: 82px;
        font-size: 16px;
    }
}

@media screen   
and (min-device-width: 310px)   
and (max-device-width: 340px)
{
    .select{
    
        width: 90px;
        
    }
}

@media screen   
and (min-device-width: 340px)   
and (max-device-width: 360px)
{
    .select{
    
        width: 98px;
        
    }
}






@media screen   
and (min-device-width: 500px)   
and (max-device-width: 660px)
{
    .select{
        height: 30px;
        width: 105px;
        font-size: 14px;
    }
}
