.btn-cotizacionn{
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    background: rgb(89, 134, 218);
    color: white;
    margin-top: 25px;
    border-radius: 1em;
    padding: 9px;
    cursor: pointer;
 }

 .btn-cotizacionn:hover{
    background:  rgb(198, 200, 71);
    color: white;
 }



 @media screen   
  and (min-device-width: 266px)   
  and (max-device-width: 360px)
{ 
   .btn-cotizacionn{
      font-size: 16px;
   }
}


@media screen   
and (min-device-width: 500px)   
and (max-device-width: 660px)
{
   .btn-cotizacionn{
      margin-top: 3px;
      font-size: 10px;
      padding: 5px;
   }
}