.container-cardCuota{
    z-index:-2222;
    background: white;
    color: rgb(73, 78, 82);
    width: 273px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    border:  1.0px solid rgb(146, 145, 145);
    padding: 30px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    -webkit-box-shadow: 3px 3px 8px 6px rgb(206, 206, 206);
    -moz-box-shadow: 3px 3px 8px 6px rgb(206, 206, 206);
    box-shadow: 3px 3px 8px 6px rgba(206, 206, 206);
    transform: scale(0);
    transition: all 0.2s ease-in;
}

.descripcion-globall{
    z-index:-2222;
    font-size: 20px;
    font-weight: bold;
    
}

.descripcionCardd{
    z-index: -2222;
    margin-top: 15px;
    font-size: 20px;
    color: rgb(119, 119, 119);
}

.contenedor-descripcioness2{
    z-index: -2222;
    margin-top: 30px;
}

.contenedor-descripcioness3{
    z-index: -2222;
    margin-top: 20px;
    margin-bottom: 55px;
}

.valor{
    opacity: 0;
    z-index: -2222;
    color: rgb(119, 119, 119);
    transition: all 1s ease-in;

}

.tamaño-input{
    z-index: -2222;
    width: 200px;
}

.symbol-undo{
    position: absolute;
    font-size: 1.8em;
    margin-left: 205px;
    margin-top: -15px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.5s;
}

.symbol-undo:hover{
    transform: scale(1.4);
}

.btn-calcu-cuo{
   
    display: flex; 
    align-items: center;
    justify-content: center; 
    font-size: 18px;
    font-weight: 600;
    background: rgb(89, 134, 218);
    color: white;
    margin-top: 25px;
    border-radius: 1em;
    padding: 9px;
    cursor: pointer;
 }

 .btn-calcu-cuo:hover{
    background:  rgb(198, 200, 71);
    color: white;
 }

 .activ-flag{
    background: black;
    width: 333px;
    height: 444px;
 }




 @media screen   
  and (min-device-width: 260px)   
  and (max-device-width: 360px)
 {
    .container-cardCuota{
        height: 365px;
    }   

    

    .valor{
        margin-top: -5px;
    }
   
    .btn-calcu-cuo{
        font-size: 12px;
        margin-top: -33px;
        
    }

    .btn-calcu-cuo:hover{
        background:  rgb(89, 134, 218);
        color: white;
     }    
 }


 @media screen   
  and (min-device-width: 260px)   
  and (max-device-width: 286px)
  {

    .contenedor-descripcioness2, .contenedor-descripcioness3{
        margin-top: 25px ;
    }
    
    .valor{
        margin-top: 15px;
    }

    .container-cardCuota{
        width: 223px;
        padding: 20px;
    }

    .tamaño-input{
        width: 130px;
    }

  .symbol-undo{
    font-size: 1.2em;
    margin-left: 125px;
  }

  .descripcion-globall, .descripcionCardd{
    font-size: 13px;
  }

  .btn-calcu-cuo{
    
    margin-top: -20px;
    
}



 }
 
  @media screen   
  and (min-device-width: 286px)   
  and (max-device-width: 360px)
  {
    .container-cardCuota{
        width: 205px;
        
    }

    .contenedor-descripcioness2, .contenedor-descripcioness3{
        margin-top: 25px ;
    }
    
    .tamaño-input{
        width: 130px;
        margin-top: 10px;
    }

    .symbol-undo{
        font-size: 1.3em;
        margin-left: 133px;
    }
    
    .descripcion-globall, .descripcionCardd{
        font-size: 14px;
    }
  }
    
    






  @media screen   
  and (min-device-width: 500px)   
  and (max-device-width: 660px)
  {
    .container-cardCuota{
        width: 124px;
        padding: 10px;
        height: 176px;
    }

    .contenedor-descripcioness2, .contenedor-descripcioness3, .contenedor-descripcioness{
        margin-top: -8px ;
    }


    
    .tamaño-input{
        width: 100px;
        margin-top: -9px;
        margin-bottom: 5px;
    }

    .symbol-undo{
        font-size: 15px;
        margin-left: 92px;
        margin-top: -5px;
    }
    
    .descripcion-globall, .descripcionCardd{
        font-size: 9px;
    }

    .position-descri3{
        margin-top: 5px;
    }

    .btn-calcu-cuo{
        font-size: 9px;
        margin-top: -49px;
        padding: 4px; 
    }

    .btn-calcu-cuo:hover{
        background:  rgb(89, 134, 218);
        color: white;
     }    
 
     .valor{
         margin-top: -5px;
     }
 }
    