.contenedorCard{

    z-index: 2222;
    background: white;
    color: rgb(73, 78, 82);
    width: 273px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    border:  1.0px solid rgb(146, 145, 145);
    padding: 30px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 3px 3px 8px 6px rgba(206, 206, 206);
    transition: all 0.2s ease-in;
}

.descripcion-global{
    z-index: 2222;
    font-size: 20px;
    font-weight: bold;
}

.descripcionCard{
    z-index: 2222;
    margin-top: -10px;
    font-size: 20px;
    color: rgb(119, 119, 119);
}

.imagenCard{
    z-index: 2222;
    height: 124px;
    width: 271px;
    margin-left: -30px;
    margin-top: -30px;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(194,174,194,1);
    -moz-box-shadow: 0px 5px 6px 0px rgba(194,174,194,1);
    box-shadow: 0px 5px 6px 0px rgba(194,174,194,1);
}

.classEfect{ 
    z-index: 2222;
    background: white;
    color: rgb(73, 78, 82);
    width: 273px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 25px ;
    border:  1.0px solid rgb(146, 145, 145);
    padding: 30px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 3px 3px 8px 6px rgba(206, 206, 206);
    transition: all 0.2s ease-in;
    animation: classEfect 2s;
}

@keyframes classEfect{
    0%{
         opacity: 0%;
        
    }
    100%{
        opacity: 100%;
    }
}


/* mobile vertical----------------------------------*/
 
 @media screen   
  and (min-device-width: 260px)   
  and (max-device-width: 360px)
  {
    .contenedorCard, .classEfect{
        height: 365px;
    }

    .imagenCard{
        margin-bottom: 25px;
    }

    .descripcionCard, .descripcion-global{
        font-size: 16px;
    }
    
    .descripcionCard{
        margin-top: -15px;
    }

    .contenedor-descripciones{
        margin-top: -10px;
    }

    .posicion-boton{
        margin-top: -10px;
    }
  }

  @media screen   
  and (min-device-width: 260px)   
  and (max-device-width: 288px)
  {
    .contenedorCard, .classEfect{
        width: 175px;
    }

    .imagenCard{
        width: 173px;
    }
      
  }

  @media screen   
  and (min-device-width: 286px)   
  and (max-device-width: 360px)
  {
    .contenedorCard, .classEfect{
        width: 195px;
    }

    .imagenCard{
        width: 193px;
    }
  }
    







  @media screen   
  and (min-device-width: 500px)   
  and (max-device-width: 660px)
  {
    .contenedorCard, .classEfect{
      width: 124px;
      padding: 20px;
      height: 174px;
    }

    .imagenCard{
       margin-left: -20px; 
       width: 123px;
       height: 50px;
       margin-bottom: 13px;
    }

    .descripcionCard, .descripcion-global{
        font-size: 10px;
    }
    
    .descripcionCard{
        margin-top: -10px;
    }

    .contenedor-descripciones{
        margin-top: -4px;
    }

    .posicion-boton{
        margin-top: 10px;
    }
  }
    
  @media screen   
  and (min-device-height: 340px)   
  and (max-device-height: 360px)
  {
      .classEfect{
          margin-top: 66px;
      }
  }
