.container-cards{
    margin-left: 112px; 
    margin-right: 80px;
    margin-bottom: 140px;
    transition: all 0.2s ease-in-out;
    position: relative;
    left: 0px;
    right: 0px;
}

.container-cards-coute{
    margin-left: 112px; 
    margin-right: 80px;
    margin-bottom: 140px;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: -8px;
    left: 0px;
    right: 0px;
}



/* mobile vertical--------   */

@media screen   
and (min-device-width: 260px)   
and (max-device-width: 310px)
{
  .container-cards, .container-cards-coute{
      margin-left: 55px;
  }
} 


@media screen   
and (min-device-width: 310px)   
and (max-device-width: 336px)
{
  .container-cards, .container-cards-coute{
      margin-left: 70px;
  }
}

@media screen   
and (min-device-width: 336px)   
and (max-device-width: 360px)
{
  .container-cards, .container-cards-coute{
      margin-left: 81px;
  }
}




@media screen   
  and (min-device-height: 260px)   
  and (max-device-height: 280px)
  {
    .container-cards, .container-cards-coute{
      margin-bottom: 50px;
    }
  }

  @media screen   
  and (min-device-height: 280px)   
  and (max-device-height: 320px)
  {
    .container-cards, .container-cards-coute{
      margin-bottom: 60px;
      padding-bottom: 10px;
    }
  }

  @media screen   
  and (min-device-height: 320px)   
  and (max-device-height: 360px)
  {
    .container-cards, .container-cards-coute{
      padding-bottom: 26px;
      margin-bottom: 60px;
    }
  }

 







  @media screen   
  and (min-device-width: 572px)   
  and (max-device-width: 660px)
  {
    .container-cards, .container-cards-coute{
      margin-left: 70px;
      margin-right: 40px;
    }
  }