.container-theme{
    position: fixed;
    left: 91%;
    top: 2%;
    
}

.tittle-theme{
    font-size: 1em;
    color:rgb(73, 78, 82) ;
}

.img-theme{
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-left: 32%;
}



/* mobile vertical----------------------------------*/

@media screen   
  and (min-device-width: 260px)   
  and (max-device-width: 360px) 
{
      .img-theme{
        height: 26px;
        width: 26px;
      }    

      .container-theme{
          
          top: 8px;
      }
}


@media screen   
  and (min-device-width: 260px)   
  and (max-device-width: 266px)  
{

    .container-theme{
        left: 226px;
    }
}



@media screen   
  and (min-device-width: 266px)   
  and (max-device-width: 276px)  
{

    .container-theme{
        left: 230px;
    }
}


@media screen   
  and (min-device-width: 276px)   
  and (max-device-width: 286px)  
{

    .container-theme{
        left: 235px;
    }
}


@media screen   
  and (min-device-width: 286px)   
  and (max-device-width: 296px)  
{

    .container-theme{
        left: 249px;
    }
}


@media screen   
  and (min-device-width: 296px)   
  and (max-device-width: 306px)  
{

    .container-theme{
        left: 256px;
    }
}


@media screen   
  and (min-device-width: 306px)   
  and (max-device-width: 316px)  
{

    .container-theme{
        left: 266px;
    }
}

@media screen   
  and (min-device-width: 316px)   
  and (max-device-width: 326px)  
{

    .container-theme{
        left: 276px;
    }
}

@media screen   
  and (min-device-width: 326px)   
  and (max-device-width: 336px)  
{

    .container-theme{
        left: 286px;
    }
}

@media screen   
  and (min-device-width: 336px)   
  and (max-device-width: 346px)  
{

    .container-theme{
        left: 296px;
    }
}

@media screen   
  and (min-device-width: 346px)   
  and (max-device-width: 356px)  
{

    .container-theme{
        left: 306px;
    }
}

@media screen   
  and (min-device-width: 356px)   
  and (max-device-width: 366px)  
{

    .container-theme{
        left: 315px;
    }
}






@media screen   
  and (min-device-width: 500px)   
  and (max-device-width: 660px) 
{
  .img-theme{
    height: 23px;
    width: 23px;
  }    


}